@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --secondary-color: #3B8FDA;
  --red: #ec1e52;
}

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
}

.main-content {
  height: 100dvh;
  overflow-y: auto;
  padding-bottom: 5rem;
}
