@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --secondary-color: #3B8FDA;
  --red: #ec1e52;
}

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-content {
  height: 100dvh;
  overflow-y: auto;
  padding-top: 5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 4;
  backdrop-filter: blur(5px);
}

.modal {
  position: fixed;
  background-color: #fff;
  top: 20dvh;
  padding: 2rem;
  width: 93vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border-radius: 10px;
}

.modal h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.modal form input {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: .3rem 1rem;
  outline: none;
  width: 100%;
}

.modal form input:focus {
  box-shadow: 0 0 5px rgba(30, 143, 255, 0.411);
}

.menuOpciones{
  display: flex;
  height: 5rem;
  width:  8rem;
  background-color: white;
  border-radius: 15px;
  transform: translateX(30%);
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.menuOpciones > button{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: 0.3rem;
}
