.main-content{
    padding-top: 0;
}

.bg{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #E3E2E2;
    background-image: url("/fondo register.png");
    color: #0C0563;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.interfaz{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20rem;
    height: 22.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 5px rgb(156, 148, 148);
    padding: 1rem;
    gap: 1rem;
}

.entrada {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    border-bottom: 0.15rem solid gray;
    gap: 0.5rem;
}

input{
    width: 12.5rem;
}