form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form > input {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: .3rem 1rem;
    outline: none;
}

form > input:focus {
    box-shadow: 0 0 5px rgba(30, 143, 255, 0.411);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    backdrop-filter: blur(5px);
}

.modal {
    position: fixed;
    background-color: #fff;
    top: 20dvh;
    padding: 2rem;
    width: 93vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    border-radius: 10px;
}

.modal h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.modal form input {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: .3rem 1rem;
    outline: none;
    width: 100%;
}

.modal form input:focus {
    box-shadow: 0 0 5px rgba(30, 143, 255, 0.411);
}

.opciones {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.opcion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
    text-align: center;
}
    
.opcion .material-symbols-outlined {
    color: #555;
    font-size: 5rem !important;
}