.form-compartir {
    position: fixed;
    background-color: #fff;
    top: 20dvh;
    padding: 2rem;
    width: 30vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    border-radius: 10px;
}

.form-compartir h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: rem;
}

.compartidos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 30dvh;
    overflow: auto;
    padding-block: 1rem;
}

.seccion-compartir {
    margin-top: 1rem;
    display: flex;
    place-items: center;
    gap: 1rem;
    display: none;
}

.seccion-compartir > span {
    font-size: 2rem !important;
    color: #333;
    font-weight: 500;
}

.entradaCompartir {
    display: flex;
    place-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: .3rem;
    outline: none;
    color: #999;
    margin-bottom: 1rem;
}

.entradaCompartir > span {
    font-size: 1.5rem !important;
    padding-right: .5rem;
}

.entradaCompartir > input {
    width: 100%;
    outline: none;
    color: #000;
}