.modal-qr {
    padding: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #fff;
    width: 90vw;
    border-radius: 10px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}