.cuenta{
    display: flex;
    size: 100%;
    color: #0C0563;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 3rem;
}

.elementoCuenta{
    display: flex;
    justify-content: space-between;
    width: 8rem;
    gap: 0.5rem;
}

.cerrarSesion {
    position: relative;
    margin-top: 2rem;
    display: flex;
    color: rgb(255, 68, 68);
    gap: .5rem;
    font-weight: 500;
}

.editar{
    font-size: 1.5rem !important;
}