.crear-lista {
    padding: 2rem;
    padding-top: 3rem;
}

.crear-lista h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.crear-lista form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.crear-lista form input {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: .3rem 1rem;
    outline: none;
}

.crear-lista form input:focus {
    box-shadow: 0 0 5px rgba(30, 143, 255, 0.411);
}
