.contenedor-lista {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #E3E2E2;
    background-image: url("/fondo register.png");
    color: #0C0563;
    gap: 1rem;
    padding: 6rem;
}

.contenedor-lista h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contenedor-items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.segunda-fila {
    margin-top: .5rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.select {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: .3rem 1rem;
    outline: none;
    width: 100%;
    display: grid;
    place-items: center;
}

.select select {
    outline: none;
}

.bolt {
    background: linear-gradient(180deg, #FF77E9 0%, #50F4FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-variation-settings: 'FILL' 1;
}

.sugerencias {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-height: 30dvh;
    overflow-y: auto;
}

.informacion {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-inline: .5rem;
}
