.contenedor-lista {
    padding: 2rem;
    padding-top: 3rem;
}

.contenedor-lista h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.contenedor-items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contenedor-items button {
    display: flex;
    justify-content: center;
    place-items: center;
    border: 2px solid #ccc;
    box-sizing: border-box;
    max-width: fit-content;
    padding: .2rem .5rem;
    color: #aaa;
    border-radius: 5px;
    font-weight: 500;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    backdrop-filter: blur(5px);
}

.modal {
    position: fixed;
    background-color: #fff;
    top: 20dvh;
    padding: 2rem;
    width: 93vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    border-radius: 10px;
}

.modal h1 {
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 1rem; */
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.modal form input {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    padding: .3rem 1rem;
    outline: none;
}

.modal form input:focus {
    box-shadow: 0 0 5px rgba(30, 143, 255, 0.411);
}

.boton-ia {
    width: 45px;
    height: 40px;
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.boton-ia::before {
    content: "";
    position: absolute;
    inset: -4px;
    background: linear-gradient(-135deg, #FF77E9 0%, #57E1FF 100%);
    border-radius: 7px !important;
    z-index: -1;
}

.boton-ia {
    border: 2px solid transparent !important;
}


.bolt {
    background: linear-gradient(180deg, #FF77E9 0%, #50F4FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-variation-settings: 'FILL' 1;
}

.sugerencias {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-height: 30dvh;
    overflow-y: auto;
}

.informacion {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-right: 2.5rem;
    margin-bottom: 1rem;
}
