body {
    min-height: 100dvh;
}

.preview-listas{
    position: relative;
    display: flex;
    background-color: #E2E2E2;
    min-height: calc(100% - 16.5rem);
    width: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-bottom: 4rem;
}

.arriba{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.75rem;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
}

.arriba > div{
    width: 50%;
}

.abajo{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

.titulo-listas{
    font-size: 2rem;
}

.mensaje{
    display: flex;
    font-size: 1.5rem;
    opacity: 75%;
    justify-content: center;
    text-align: center;
}

.mensaje a{
    display: block;
    color:blue;
    text-decoration: underline blue;
}

.crearLista{
    display: flex;
    flex-direction: row;
    background-color: #0C0563;
    color: white;
    border-radius: 15px;
    height: 2.5rem;
    width: 10rem;
    text-align: center;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: 1.75rem;
    font-weight: 300;
}

