.sidebar-parent{
    z-index: 11;
}

.menu-logo{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 0.75rem;
}

.menu-logo > span{
    font-size: 3rem !important;
}

.sidebar {
    position: fixed;
    display: flex;
    width: 20rem;
    height: 100dvh;
    flex-direction: column;
    font-size: 1rem;
    box-shadow: 3px 0px 5px lightslategrey;
    transform: translateX(-110%);
    transition: transform .5s ease;
    background-color: white;
}

.sidebar:not(.abierto) {
    box-shadow: none;
}

.abierto {
    transform: translateX(0);
    position: absolute;
    left: 0;
}

.sidebar > div{
    width: 100%;
    margin-top: 2rem;
    margin-left: 1rem;
}

.sidebar a {
    flex-direction: row !important;
}

.sidebar span {
    font-size: 2rem !important;
}

.sidebar .logout {
    margin-top: auto;
    margin-bottom: 6rem;
}