.lista {
    display: flex;
    padding: .5rem 1rem;
    width: 80%;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid gray;
}

.izquierda{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 50%;
}

.derecha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 50%;
}

.menuOpciones{
    display: flex;
    height: 5rem;
    width:  8rem;
    background-color: white;
    border-radius: 15px;
    transform: translateX(-80%);
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.menuOpciones > button{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 0.3rem;
}
