.novedades {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
}

.novedades h1 {
    font-size: 2.5rem;
    height: 3rem;
    padding-left: 2rem;
}

.novedades .items {
    display: flex;
    padding-left: 3rem;
    align-items: flex-end;
    gap: 2rem;
    padding-top: 1rem;
}

.square{
    background-color: #E3E2E2;
    border-radius: 1rem;
    width: 15rem;
    height: 10rem;
    padding: 1rem;

}