.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 5rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 2rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
    place-items: center;
    background-color: #E8EFF6;
    font-weight: 500;
    z-index: 11;
}

.sidelogo{
    gap: 2rem;
    color: #777;
}

.navbar > div {
    display: flex;
    place-items: center;
}

.activo {
    position: relative;
    border-radius: 15px;
    color: #333 !important;
}

.activo::after {
    content: '';
    top: 50%;
    position: absolute;
    height: 100%;
    width: 110%;
    z-index: -1;
    background-color: #BBDEFB;
    transform: translateY(-50%);
    border-radius: 15px;
    padding: 2rem 2rem;
}

.activo > a > span {
    font-variation-settings: 'FILL' 1;
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    place-items: center;
    gap: .4rem;
    -webkit-tap-highlight-color: transparent;
}
