.lista {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background-color: #f2f2f2;
    padding: .5rem 1rem;
    align-items: center;
    border-radius: 10px;
}

.lista h2 {
    color: #333;
}

.lista span {
    color: #777;
}

.lista p {
    color: #888;
}
