.menu-logo{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 0.75rem;
}

.menu-logo > span{
    font-size: 3rem !important;
}

.sidebar {
    position: fixed;
    display: flex;
    width: 20rem;
    height: 100dvh;
    flex-direction: column;
    font-size: 1.25rem;
    box-shadow: 3px 0px 5px lightslategrey;
    transform: translateX(-110%);
    transition: transform .5s ease;
    background-color: white;
    gap: 0.5rem;
}

.sidebar:not(.abierto) {
    box-shadow: none;
}

.abierto {
    transform: translateX(0);
    position: absolute;
    left: 0;
}

.sidebar > div:hover{
    background-color: whitesmoke;

}

.sidebar span {
    font-size: 2.5rem !important;
}

.item-menu{
    display: flex;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    width: auto;
    gap: 1.75rem;
    align-items: center;
    justify-content: start;
}

.item-menu:hover{
    background-color: whitesmoke;
}