.logo {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 5rem;
    align-items: center;
}

.logo img {
    width: 4rem;
    height: auto;
    margin-right: 1rem;
    padding-top: 0.25rem;
}

.logo h1{
    font-size: 2rem;
    font-weight: 400;
    right: auto;
}