.grande{
    font-size: 10rem !important;
}

.notangrande{
    font-size: 3rem !important;
}

.menuOpciones{
    display: flex;
    height: 5rem;
    width:  8rem;
    background-color: white;
    border-radius: 15px;
    transform: translateX(30%);
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.menuOpciones > button{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 0.3rem;
}