.editar-lista {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.editar-lista h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.boton-eliminar {
    bottom: 6rem;
    background-color: var(--red);
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    padding: .5rem;
    display: flex;
    justify-content: center;
    place-items: center;
    gap: .5rem;
    width: 100%;
    height: 2.5rem;
    margin-top: auto;
}

.boton-compartir {
    display: flex;
    place-items: center;
    color: #333;
    background-color: #C2E7FF;
    padding: 1.3rem 1rem;
    border-radius: 10px;
    max-height: 2.3rem;
    font-weight: 500;
    gap: .5rem;
}

.boton-compartir > span {
    font-size: 1.5rem !important;
}

form {
    display: flex;
    flex-direction: column;
}

.boton-copiar {
    display: flex;
    place-items: center;
    border: .5px solid #777;
    gap: .5rem;
    color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: 100vw;
    font-size: .9rem;
    font-weight: 500;
}

.boton-copiar > span {
    transform: translateY(10%);
    font-weight: 500;
    font-size: 1.3rem !important;
}
